Base currency
<select (change)="changeRate($event.target.value, targetSelect.value)" #baseSelect>
  <option *ngFor="let i of currencies">{{i}}</option>
</select>
<br/>
Target currency
<select (change)="changeRate(baseSelect.value, $event.target.value)" #targetSelect>
  <option *ngFor="let i of currencies">{{i}}</option>
</select>
<br/>
Amount
<input [formControl]="searchInput" type="text" required>

<span class="pr-base">{{base }}</span>
<span class="pr-inputAmount">{{ inputAmount}}</span> =
<span class="pr-sumInput">{{sum *inputAmount}}</span>
<span class="pr-targetCurrency">{{ targetCurrency}}</span>
